body * {
    font-family: "Roboto", "Segoe UI", "Oxygen-Sans", "Helvetica Neue", sans-serif;
    color: #272829;
}

[class*="-section"] {
    padding-bottom: 15px;
}

[class*="-element"] {
    display: inline;
}

.title-section {
    text-align: center;
}

.title-section * {
    font-family: "Metamorphous", "Open Sans", sans-serif;
    font-size: 20px;
    display: inline;
}

.title-section #dice-roll-image {
    vertical-align: middle;
    width: 75px;
}

.roll-command-section {
    width: 100%;
    display: flex;
    padding-bottom: 15px;
}

.roll-command-section input {
    width: 100%;
    background-color: #ffffff;
    font-family: "Bungee", sans-serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
}

.roll-command-section a {
    flex: 0;
    border-width: 1px;
    border-color: #000000;
    text-align: center;
    margin-top: 17px;
    float: right;
}

.roll-options-section {
    padding-bottom: 15px;
}

.roll-options-element.lg-icon i {
    vertical-align: middle;
}
#dice-roll-button {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    border-radius: 4px;
    background-repeat: repeat-x;
    color: #ffffff;
    padding: 6px 14px 6px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#dice-roll-button:hover {
    background-color: #0044cc;
    background-image: none;
}

.roll-selection-section {
    padding-bottom: 15px;
}

.roll-selection-element * {
    font-size: 30px;
    text-align: right;
}

.roll-selection-element input {
    width: 75px;
}