/*
Roll selection section
*/
.roll-selection-section {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.roll-selection-element, .roll-selection-element * {
    font-size: 25px;
    text-align: right;
}

.roll-selection-element.expanding-size {
    flex: 1 1 auto;
    width: 100%;
    height: 1.6em;
    text-align: left;
    overflow-x: auto;
    overflow-y: auto;
}

.roll-selection-element input {
    width: 2.5em;
}

.roll-selection-element #roll-total-value {
    font-weight: 700;
    text-align: center;
}

.roll-selection-element .adv-icon {
    opacity: 0.2;
    width: 40px;
    margin: 0px 5px;
}

.roll-selection-element .pos-adv-icon, .roll-selection-element .neg-adv-icon {
    opacity: 1.0;
}

.roll-value-options, .roll-value-options * {
    font-weight: 700;
}

[class*="roll-value-option-"] {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    padding-top: 0.3em;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.roll-value-option-20 {
    background-image: url('../img/D20.png');
}

.roll-value-option-12 {
    background-image: url('../img/D12.png');
}

.roll-value-option-10 {
    background-image: url('../img/D10.png');
}

.roll-value-option-8 {
    background-image: url('../img/D8.png');
}

.roll-value-option-6 {
    background-image: url('../img/D6.png');
}

.roll-value-option-4 {
    background-image: url('../img/D4.png');
}
