/*
Roll selection section
*/
.roll-selection-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 15px;
}

.roll-selection-element, .roll-selection-element * {
    font-size: 25px;
    text-align: right;
}

.roll-selection-element input {
    width: 75px;
}

.roll-selection-element.expanding-size {
    flex: 0 1 auto;
    width: 100px;
}

.roll-selection-element #roll-breakdown {
    text-align: center;
}

.roll-selection-element .adv-icon {
    opacity: 0.2;
    width: 40px;
    margin: 0px 5px;
}

.roll-selection-element .pos-adv-icon, .roll-selection-element .neg-adv-icon {
    opacity: 1.0;
}
